<h1>Welcome to Home Page, {{name}}</h1>
<h2>This is the full home page</h2>
<!--{% for movie in movies %}
    <h3>{{ movie.title }}</h3>
    <p>{{ movie.description }}</p>
    <p>Rating: {{ movie.rating }}</p>
    <p>Genre: {{ movie.genre }}</p>
    <p>Release Date: {{ movie.release_date }}</p>
    <p>Director: {{ movie.director }}</p>
    <p>Cast: {{ movie.cast }}</p>
    <p>Duration: {{ movie.duration }}</p>
    <p>Country: {{ movie.country }}</p>
    <p>Language: {{ movie.language }}</p>
    <p>Box Office: {{ movie.box_office }}</p>
    <p>Production: {{ movie.production }}</p>
    <p>Website: {{ movie.website }}</p>
    <p>Image: <img src="{{ movie.image.url }}" alt="{{ movie.title }}" width="200" height="200"></p>
    <hr>
{% endfor %}-->